<!--商品明细 begin-->
<div id="view-itemdetail" class="view_itemdetail" style="display: none">
    <div class="itemdetail-top">
        <div class="itemdetail-return" id="itemdetail_Return">
            <span class="triangle"></span>
            <span>微商城</span>
        </div>
        <p>商品详情</p>
    </div>
    <div id="itemdetailarea" class="itemdetail">
        <div>
            <div class="itemdetailBox swipe" id="itemDetailSlider">
                <div class="itemdetail-img swipe-wrap" id="itemDetailSwipeWrap">
                    <!--                <div class="wrap">
                                     <div class="wrapinner">
                                         <div class="middiv imgbg">
                                             <img data-index={index} initview=0 class="kdcImage2" src="{img}" />
                                         </div>
                                     </div>
                                 </div>-->
                </div>
                <nav>
                    <ul id="itemDetailSliderPosi" class="position">
                        <!--<li class=""></li>-->
                    </ul>
                </nav>
            </div>
            <div id="loadingHint">
            </div>
            <ul class="goodsinfoList" id="goodsinfoList">
                <!--                <li class="liname">
                              <p class="middle">
                                <span class="name"> {name}</span>
                              </p>
                              <div class="collect">
                                  <img src="img/kdpx.gif"/>
                                  <span>收藏</span>
                              </div>
                          </li>
                          <li class="liprice">
                              <label id="itemdetail-price">
                                <span class="pricermb">￥</span><span class="priceh">{pricehLow}</span><span  class="priced">.{pricedLow}</span>
                              </label>
                              <label id="itemdetail-priceInterval" style="display: none;">
                                <span class="pricermb">~ ￥</span><span class="priceh">{pricehHigh}</span><span  class="priced">.{pricedHigh}</span>
                              </label>
                              <span class="jifenpoint" data-cmd="point"><span data-cmd="orshow">或</span>{point}积分<i class="change">兑</i></span>
                              <span  id="goodsDetail_rate" class="rate">{rate}折</span>
                            <span  class="stock {stockcolor}" >库存: {stock}</span>
                          </li>
                          <li class="lioldprice">
                              <span id="item-originalprice" class="oldprice-head"><del >￥{oldprice}</del></span>
                              <div  class="share"><span style="display:none" class="shareNum">分享:0次</span><span style="{showsalenum}">已售:{saleinfo}</span></div>
                          </li>
                          <li class="lifreight">
                              <div class="freight">运费：<span></span></div>
                          </li>

                          <li class="bar sprite-more {pro-show}" data-cmd="promotionlist">
                            <span>促销信息：</span>
                            <span>{protitle}</span>
                          </li> 
                          
                           <li class="bar {limit-show}" >
                            <span>限购信息：</span>
                            <span>{limit-title}</span>
                          </li> 
                           
                          <li class="lisize" style="{lisizecss}">
                              <div class="sizeh">规格型号</div>
                              <span class="sized">{sizeinfo}</span>
                              <div style="display: none" class="sizeinfo">颜色/尺码</div>
                          </li>-->
            </ul>
            <div class="itemdetail-model" id="item-more">
                <!--
                          <p>商品描述</p>
                          #--item.begin--#

                          #--desc.begin--#
                          <div class="pre">{desc}</div>
                          #--desc.end--#
                          #--img.begin--#
                          <img src="{img}" class="desc-img" />
                          #--img.end--#
                          #--item.end--#
                          -->
            </div>
        </div>
    </div>

    <div class="itemdetail-bottom">
        <div class="menu_share sprite-me-link-client" id="menu_share_btn">
            <span class="name">客服</span>
            <span data-cmd="alert"></span>
        </div>
        <div class="itemdetail-bottom-right">
            <div class="addToCart">
                加入购物车
            </div>
            <div class="buyNow" id="itemdetail_buy">
                立即购买
            </div>
        </div>
        <div class="menu-btn" id="pop-menu-btn">
            <img src="img/kdpx.gif" />
        </div>
    </div>


</div>
<!--商品明细 end-->
