.popMenu .menu-item{
	position: fixed;
	z-index: 100;
	width: 32px;
	height: 32px;
	bottom: -32px;
	right: -32px;
	opacity: 0;
	-webkit-transform: translateZ(0);
}

.popMenu .btn-img{
	width: 60px;
}

.animation .A{
	-webkit-transition: bottom 0.5s 0.05s, right 0.5s  0.05s, opacity 0.25s 0.05s;
}

.animation .B{
	-webkit-transition: bottom 0.5s 0.15s, right 0.5s 0.15s, opacity 0.25s 0.15s;
}

.animation .C{
	-webkit-transition: bottom 0.5s 0.25s, right 0.5s 0.25s, opacity 0.25s 0.25s;
}

.animation .D{
	-webkit-transition: bottom 0.5s 0.25s, right 0.5s 0.25s, opacity 0.25s 0.25s;
}

.animation .E{
	-webkit-transition: bottom 0.5s 0.15s, right 0.5s 0.15s, opacity 0.25s 0.15s;
}

