<!--  条件过滤页面 begin -->
<div id="viewid-goodslist-sort" class="goodslist-sort" style="display: none">
    <div>
        <ul data-cmd="order-ul" class="goodslist-sort-list">
            <li data-cmd="5" class="default-icon-chose" >最近购买时间
                <div data-cmd="order"  class="order ">
                    <span class="down on ">降序</span><span class="up">升序</span>
                </div>
            </li>
            <li data-cmd="2">销量
                <div data-cmd="order"  class="order hide">
                    <span class="down on ">降序</span><span class="up">升序</span>
                </div>
            </li>
            <li data-cmd="1">价格
                <div data-cmd="order"  class="order hide">
                    <span class="down on ">降序</span><span class="up">升序</span>
                </div>
            </li>
            <li data-cmd="3">商品名称
                <div data-cmd="order"   class="order hide">
                    <span class="down on ">降序</span><span class="up">升序</span>
                </div>
            </li>
            <li data-cmd="4">商品代码
                <div data-cmd="order"   class="order hide">
                    <span class="down on ">降序</span><span class="up">升序</span>
                </div>
            </li>
            <li data-cmd="0">上架时间
                <div data-cmd="order"   class="order hide">
                    <span class="down on ">降序</span><span class="up">升序</span>
                </div>
            </li>
        </ul>
    </div>
    <footer><button data-cmd="ok">确定</button></footer>
</div>
<!--  条件过滤页面 end -->
