<!-- 类目视图 begin-->
<div class="view-category" id="view-category" style="display: none;">
    <div class="head">
        <div class="search">
            <img class="imgSearch search sprite-w-search" src="img/kdpx.gif">
            <input type="text" readonly="true" placeholder="商品名称/规格型号/商品代码">

            <div class="imgClear sprite-clear"></div>
        </div>
        <div class="qrcode" data-cmd="qrcode">
            <img src="img/kdpx.gif" class="code sprite-w-qrcode">
            <span>扫一扫</span>
        </div>
    </div>
    <div id="div-loading" style="width: 100%;margin-top: 45px"></div>
    <div class="left" id="div-left">
        <ul id="ul-left">
            <!--
            <li data-index="{index}">
                <p class="item">{name}</p>
            </li>
            -->
        </ul>
    </div>
    <div class="right" id="div-right">
        <ul id="ul-right">
            <!--
            <li data-group="{index}">
                <p class="title">{title}</p>
                <ul class="item-group">
                    #--item.begin--#
                    <li class="item" data-index="{index}">
                        <div style="background-image: url({url});display: none;">
                        </div>
                        <p class="category-title">{name}</p>
                    </li>
                    #--item.end--#
                </ul>
            </li>
            -->
        </ul>
    </div>
</div>
<!-- 类目视图 end-->